<p class="text-center">
  &copy; 2017 Super CV
</p>
<!--<div class="fnavbar-nav">
  <a class="nav-item nav-link" routerLink="/">Home</a>
  <a class="nav-item nav-link" routerLink="/profile">Profile</a>
  <a class="nav-item nav-link" routerLink="/skills">Skills</a>
  <a class="nav-item nav-link" routerLink="/contact">Contact</a>
</div>-->