<app-topnav></app-topnav>
<div class="container">
  <div class="row">
    <div class="col-2">
      <img src="{{user.avatar}}" class="rounded-circle img-fluid">
    </div>
    <div class="col">
      <h1>{{user.first_name}} {{user.last_name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Contact me</h2>
      <div *ngIf="error" class="alert alert-{{errorType}}" role="alert">
        {{errorMsg}}
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input [(ngModel)]="userEmail" type="email" class="form-control" id="email" placeholder="user@email">
      </div>
      <div class="form-group">
        <label for="msg">Message</label>
        <textarea [(ngModel)]="userMessage" class="form-control" id="msg" placeholder="Your message"></textarea>
      </div>
      <div class="form-group">
        <button (click)="doSend()" class="btn btn-primary">
          <i class="fa fa-send"></i> Send
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>