<nav class="navbar navbar-toggleable-md navbar-light bg-faded {{bgrcolor}}">
  <button (click)="isNavShown=!isNavShown" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-rocket"></i>
  </button>
  <a class="navbar-brand" routerLink="/">Super CV {{isNavShown}}</a>
  <div [class.show]="isNavShown" class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/profile">Profile</a>
      <a class="nav-item nav-link" routerLink="/skills">Skills</a>
      <a class="nav-item nav-link" routerLink="/contact">Contact</a>
    </div>
  </div>
</nav>
