<app-topnav></app-topnav>
<div class="container">
  <div class="row">
      <div class="col-2">
        <img src="{{user.avatar}}" class="rounded-circle img-fluid">
      </div>
      <div class="col">
        <h1>{{user.first_name}} {{user.last_name}}</h1>
      </div>
  </div>
  <div class="row">
        <div class="col-12">
          DOB: {{user.dob.day.str}}.{{user.dob.month.str}}.{{user.dob.year.str}}
          <hr>
          SKILLS: 
          <span *ngFor="let skill of user.skills" class="badge badge-pill badge-success">
            {{skill}}
          </span>
        </div>
      </div>
</div>
<app-footer></app-footer>