/* You can add global styles to this file, and also import other style files */
.bg-faded {
    background-color: #ff001f;
}

.bg-profile {
    background-color: yellow;
}

.badge {
    font-size: 200%;
}