<app-topnav></app-topnav>
<div class="container">
  <div class="row">
    
      <div class="col-2">
        <img src="{{user.avatar}}" class="img-fluid">
      </div>
      <div class="col">
        <h1>{{user.first_name}} {{user.last_name}}</h1>
      </div>
    
  </div>
</div>
<app-footer></app-footer>